* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.topbanner {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(238, 238, 238);
}

.topbanner .icons {
    display: flex;
    align-items: center;
}

.navbar {
    color: black;
    font-weight: 600;
    
}

.nav-link{
    
    margin: 20px;
    margin-top: 20px;
    
}
.btn{
    margin: 20px;
}

#navbarNav {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    height: 40px;
    color: black;
}

.maincontent {
    background-image: url(photo-1510915228340-29c85a43dcfe.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
    color: white;
    height: 580px;
    background-color: rgba(7, 7, 40, 0.5);
    
    

}
.maincontent p{
    color: rgb(20, 196, 20);
    font-weight: 500;
}

.maincontent {
    position: relative;
    background-image: url(photo-1510915228340-29c85a43dcfe.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.maincontent::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(7, 6, 34, 0.5); /* Dark blue color with 50% opacity */
    z-index: 1; /* Ensure the overlay is below the text */
}

.text-content {
    position: relative;
    z-index: 2; /* Set a higher z-index to keep the text on top */
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    padding: 80px;
}
#headingSkills{
    color: white;
}

.maincontent .heading h2 {
    font-family: 'Abril Fatface', serif;
    font-family: 'DM Serif Display', serif;
    font-family: 'Noto Serif HK', serif;
}

.text-content h2 {
    font-size: 50px;
}
.vid{
    padding: 50px;
    width: 400px;
}
.para-main{
    padding: 20px 0px;
}

.text-content.btn{
    height: 300px;
    
}

.cards{
    display: flex;
    justify-content: center;
    height: 350px;
    padding: 10px;
    padding-bottom: 70px;
    
    

}

.card{
    height: 200px;
    width: 250px;
    align-items: center;
    padding: 30px;
    margin: 20px;
}
.card p{
    text-align: center;
}

.card h6{
    color: rgb(6, 6, 75);
}

.section2{
    text-align: center;
    padding-left:20%;
    padding-right:20%;
}

.section2 h2 i{
    font-family: 'Abril Fatface', serif;
font-family: 'DM Serif Display', serif;
font-family: 'Noto Serif HK', serif;
font-family: 'Playball', cursive;
color: chocolate;
}
.videos{
   text-align: center;
}
.stats{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    font-weight: 400px;
    font-weight: bold;
}

.banner{
    
    display: flex;
   margin-top: 50px;
    justify-content: space-around;
   border: 1px solid black ;
   width: 1000px;
   height: 300px;
   align-items: center;
   padding: 20px;
   margin-left:300px ;
   background-image: url(photo-1510915228340-29c85a43dcfe.avif);
    background-position-x: right;
    color: white;
    border-radius: 10px;
    position: relative;
    background-image: url(photo-1510915228340-29c85a43dcfe.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right right;
    margin-bottom: 80px;
    
}
.banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(7, 6, 34, 0.5); /* Dark blue color with 50% opacity */
    z-index: 1; /* Ensure the overlay is below the text */
}


.banner .btn{
    width: 150px;
    height: 70px;

}
.text{
        position: relative;
        z-index: 2; /* Set a higher z-index to keep the text on top */
        padding: 80px;
    
    
}
.banner div{
    position: relative;
    z-index: 2; /* Set a higher z-index to keep the text on top */
    padding: 80px;
    
}

.students{
    margin-top: 30px;
    text-align: center;
    background-color: rgb(245, 243, 243);
    padding: 20px;
    padding-top: 80px;


}
.students h3{
    color: rgb(19, 19, 85);
}
.students h3 span{
    font-family: 'Abril Fatface', serif;
    font-family: 'DM Serif Display', serif;
    font-family: 'Noto Serif HK';
font-family: 'Playball', cursive;

color: chocolate;
font-weight: bold;
}

.imgs{
    
    margin: 20px;
   

}
.imgs img{
    height: 350px;
    width: 250px;
    padding: 5px;
    border-radius: 12px;
}

.section3{
    
    margin-top: 50px;
    padding-top: 50px;
    text-align: center;
}
.section3  span{
    font-family: 'Abril Fatface', serif;
    font-family: 'DM Serif Display', serif;
    font-family: 'Noto Serif HK';
font-family: 'Playball', cursive;

color: chocolate;
font-weight: bold;
}

.section4{
    margin-top: 80px;
    text-align: center;
    background-color: rgb(245, 243, 243);
    padding-top: 50px;
}
.section5{
    margin-top: 50px;
    padding-top: 50px;
    
        background-image: linear-gradient(to bottom, #023843, #085461);
    color: white;
    padding-top: 40px;
    padding: 10px;
    height: 900px;
    
}
.section5 .heading5{
    text-align: center;
    
}
.heading5 h1{
    color: #075a6a;
    font-weight: bolder;
    
}
.tab{
    background-color: white;
    width: 450px;
    height: 650px;
    padding: 30px;
    border-radius: 30px;
   
}

.tabimage{
    display: flex;
    justify-content: space-evenly;
    padding-left: 100px;
    color: black;
  
}

.tabimage img{
    height: 400px;
    width: 300px;
}

.tabimage span{
    font-family: 'Abril Fatface', serif;
    font-family: 'DM Serif Display', serif;
    font-family: 'Noto Serif HK';
font-family: 'Playball', cursive;

color: chocolate;
font-weight: bold;
    
}

.tab .btn{
    height: 60px;
    padding: 18px;
    text-align: center;
    margin-left: -13px;
}

.tabimg{
    width: 600px;
    padding-top: 50px;
    margin-top: 50px;
    padding-left: 30px;

}
